<div class="card">
    <img
      src="/dist/images/{{ product.image }}" 
      alt="{{ product.title }}" 
      class="card__image"
      width="300"
      height="300"
      loading="lazy"
    />
  
    
    <div class="card__content">
      <h3 class="card__title">{{ product.title }}</h3>
      <p class="card__price">${{ product.price }} USD</p>
    </div>
</div>
