{% if products.size > 0 %}
  {% assign featured = products | slice: 0, 4 %}
  {% assign rest = products | slice: 4, products.size %}

  <section class="featured-products" id="products">
    <div class="featured-products__container">
      <div class="featured-products__marquee">
        <div class="featured-products__marquee-content">
          {% assign message = "★ Shuffle Essentials" %}
          {% for i in (1..20) %}
            <h2 class="featured-products__title">{{ message }}</h2>
          {% endfor %}
        </div>
      </div>
      

      <div class="products-grid">
        {% for product in featured %}
          {% render 'card', product: product %}
        {% endfor %}
      </div>

      {% if rest.size > 0 %}
        <div id="more-products" class="products-grid hidden">
          {% for product in rest %}
            <div class="fade-in">
              {% render 'card', product: product %}
            </div>
          {% endfor %}
        </div>

        <div class="featured-products__action">
          <button id="showMoreBtn" class="btn btn--primary" aria-expanded="false" aria-controls="more-products">Ver todo</button>
        </div>
      {% endif %}
    </div>
  </section>
{% else %}
  <p>No hay productos destacados disponibles en este momento.</p>
{% endif %}
