<section class="featured-products" id="products">
    <div class="featured-products__container">
      <h2 class="featured-products__title">Shuffle Essentials</h2>
  
      <div id="productsGrid" class="featured-products__grid"></div>
  
      <div class="featured-products__action">
        <button id="showMoreBtn" class="btn btn--primary">Ver todo</button>
      </div>
    </div>
  </section>
  