<header class="main-header">
  <div class="main-header__content">
    <div class="main-header__branding">
      <div class="main-header__logo">
        <img src="/dist/images/logo.jpg" alt="Shuffle Logo" width="32" height="32" />
      </div>
      <span class="main-header__title">SHUFFLE STORE</span>
    </div>
    
    <div class="main-header__center">
      <span class="main-header__label">We accept</span>
      <div class="main-header__icons">
        <img src="/dist/images/bitcoin.svg.webp" alt="bitcoin" width="32" height="32" />
        <img src="/dist/images/cardano.png" alt="cardano" width="32" height="32" />
        <img src="/dist/images/etereun.png" alt="etereun" width="32" height="32" />
        <img src="/dist/images/images.png" alt="solana" width="32" height="32" />
        <img src="/dist/images/litecoin.png" alt="litecoin" width="32" height="32" />
      </div>
    </div>

    <div class="main-header__nav">
      <button class="main-header__link" id="scrollToProducts">All Products</button>
      <img src="/dist/images/carro.png" alt="carro" width="32" height="32" />
    </div>
  </div>
</header>
