{% assign heroSettings = settings.sections["hero-banner"].settings %}

<section class="hero-banner">
  <div class="hero-banner__background">
    <img 
      src="/dist/images/{{ heroSettings.background_image }}" 
      alt="Hero Banner" 
      class="hero-banner__image"
      width="1100" 
      height="600"
    />
    <div class="hero-banner__content">
      <a href="" class="hero-banner__button">
        
        {{ heroSettings.button_text }}
      </a>
    </div>
  </div>

  <div class="hero-banner__marquee">
    <div class="hero-banner__marquee-content">
      {% assign message = "★ Shuffle Essentials" %}
      {% for i in (1..30) %}
        <h2 class="hero-banner__title">★{{ heroSettings.marquee_text }}</h2>
      {% endfor %}
    </div>
  </div>
</section>
