<div class="top-bar">
    <div class="top-bar__marquee">
      <div class="top-bar__marquee-content">
        {% assign message = "★ FREE SHIPPING FOR ORDERS OVER $100 " %}
        {% for i in (1..10) %}
          <span class="top-bar__message">{{ message }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
  