.btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    &--primary {
      background-color: $primary-color;
      color: white;
    }
  }
  