.card {
  max-width: 300px;
  width: 100%;
  background-color: #1a1a1a;
  border-radius: 1rem;
  padding: 1rem;
  margin: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.4);
  }

  &__image {
    border-radius: 0.75rem;
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 3px solid #c084fc;
  }

  &__content {
    margin-top: 1rem;
  }


  &__title {
    font-size: 1.1rem;
    margin-top: 1rem;
  }

  &__price {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: #ccc;
  }
}

// Animaciones
.fade-in {
  animation: fadeIn 0.4s ease forwards;
}

.fade-out {
  animation: fadeOut 0.4s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
