.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    background-color: #762cfb;
    overflow: hidden;
    z-index: 9999;
    color: white;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #762cfb;
  
    &__marquee {
      width: 100%;
      overflow: hidden;
      position: relative;
    }
  
    &__marquee-content {
      display: flex;
      width: max-content;
      white-space: nowrap;
      animation: marquee 60s linear infinite;
    }
  
    &__message {
      padding: 0 0.25rem;
      display: inline-block;
    }
  }
  
  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }