// abstracts (utilidades globales)
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;
@use 'abstracts/functions' as *;

// base (estilos base del proyecto)
@use 'base/reset' as *;
@use 'base/typography' as *;

// layout (estructura del sitio)
@use 'layout/header' as *;
@use 'layout/footer' as *;
@use 'layout/featured-products' as *;
@use 'layout/top-bar' as *;
@use 'layout/hero-banner' as *;

// components (componentes reutilizables)
@use 'components/button' as *;
@use 'components/card' as *;

body {
    background-color: #111 !important;
    margin: 0;
    overflow-x: hidden;
}
  