<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Shuffle Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="/dist/main.css" rel="stylesheet">
  </head>
  <body>
    {% render 'top-bar' %}
    {% render 'header' %}
    {% render 'hero-banner', settings: settings %}
    {% render 'featured-products', products: products %}
    {% render 'footer', settings: settings%}
    
    <script src="/dist/main.js" defer></script>
  </body>
  </html>
  